<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SubscriptionControlQueuePath" value=".\Private$\controlbridgequeue.q"/>
    <add key="DefaultReciever" value=".\Private$\mycontrolqueue.q"/>
    <add key="MessageQueueType" value="MessageQueueLibrary.MSMessageQueue"/>
  </appSettings>
</configuration>